*{
    font-family: PingFangSC-Regular,Hiragino Sans GB,sans-serif;
}
.am-list-body::before{
    content: '' !important;
    background-color: #fff !important;
}
.am-list-view-scrollview{
    margin: 0 !important;
    background: #fff;
}
::-webkit-scrollbar {
     width: 0px;
     height: 0px;
}
/*总div*/
.cinema-home{
    position: relative;
}
/*罩层*/
.wrap-lv-wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.3);
    z-index: 3;
}
/*header*/
.headers{
    height: 50.5px;
    color: #fff;
    background: #e54847;
    border-bottom: 1px solid #e54847;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 50.5px
}
.headers h1{
    margin-right: 0!important;
    display: block;
    -webkit-box-flex: 1;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*topbar*/
.topbar{
    background: #f5f5f5;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 43px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e6e6e6;
}
.topbar .city{
    padding-left: 15px;
    font-size: 15px;
    color: #666;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.topbar .city span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    max-width: 19.2vw;
}
.topbar .search{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    background-color: #fff;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 28px;
    font-size: 13px;
    color: #b2b2b2;
    margin-left: 18px;
    border: .5px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 15px;
    line-height: 17px;
}
.topbar .search img{
    width: 14px;
    height: 14px;
    margin-left: 3px;
    margin-right: 4px;
    display: block;
    border: 0;
}
/*try*/
.tabs-top{
    height: 40px;
    width: 100%;
    display: flex;
    background: #ffffff;
}
.tabs-top div{
    height: 40px;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
    color: #777;
}
/*select*/
.am-tabs-default-bar-tab-active {
     color: #dd403b !important;
}
.backcolor{
    background: #fff !important;
    position: absolute;
    z-index: 10;
    width: 100%;
}
.wrap{
    color: #777;
    position: relative;
    z-index: 10;
    width: 100%;
    background: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADh4eGdLxMbAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjYGA4AAAAxADBPcXUKgAAAABJRU5ErkJggg==) 0 bottom repeat-x;
}


.line{
    background: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAADh4eGdLxMbAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjYGA4AAAAxADBPcXUKgAAAABJRU5ErkJggg==) 0 bottom repeat-x;
}

.am-whitespace.am-whitespace-md{
    height: 0;
}
.am-tabs-default-bar-underline{
    border:0;
    height: 2px;
    background: #f03d37;
    width: 45%;
}
#m-tabs-0-0,#m-tabs-0-1{
    /*border-right: 1px solid #e8e8e8;*/
    height: 44px;
    font-size: 13px;
}
/*边框*/
/*全城*/
/*.llllllllllll{*/
/*    position: relative !important;*/
/*}*/
.district{
    width: 35% !important;
    background: #f5f5f5;
    position: relative !important;
}
.district-details{
    height: 44px;
    padding-left: 10px;
    line-height: 44px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;

    display: flex;
    background: #fff !important;

}
.district-details-dev{
    background: #f5f5f5;
    width: 65%;
}
.district-details-dev-d{
    height: 45px;
    line-height: 45px;
    padding: 0 26px 0 25px;
    font-size: 15px;
    overflow: scroll;
    position: relative;
    display: flex;
    justify-content:space-between;
}
/*品牌*/
.lv-brand-child {
    display: flex;
    line-height: 44px;
    height: 44px;
    padding: 0 15px 0 26px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 15px;
    justify-content:space-between;
    margin-right: 30px;
}
.lv-brand-child .lv-brand-child-02{
    text-align: right;
    color: #8f9296;
    font-size: 12px;
}
/*特色*/
.lv-feature-top{
    height: 270px;
    overflow: auto;
}
.lv-feature-top-build{
    line-height: 20px;
    display: flex;
    margin-left: 12px;
    margin-top: 11px;
    font-size: 15px;
    height: 20px;
}
.lv-feature-top-one{
    margin: 0 12px 12px;
    display: flex;
    align-content:   stretch;
    white-space : normal;
    flex-wrap: wrap
}
.lv-feature-top-button{
    width: 21.3%;
    padding: 3px 0;
    margin-right: 3%;
    margin-top: 10px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    flex-shrink:0;
    overflow: hidden;
}

.lv-feature-bottom{
    height: 60px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    background: #fafafa;
    display: flex;
    justify-content:space-between;
}
.lv-feature-bottom-left{
    height: 34px;
    width: 21.3%;
    margin: 13px 11px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #777;
}
.lv-feature-bottom-right{
    background: #f03d37;
    border: 1px solid #f03d37;
    color: #fff;
    display: inline-block;
    height: 34px;
    width: 21.3%;
    margin: 13px 11px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
}

    /*list*/
.cinema-list{
    width:100%;
    /*padding-right: 30px;*/
}
.cinema-list .item{
    padding: 13px 15px 13px 0;
    margin-left: 15px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #777;
    font-family: PingFangSC-Regular,Hiragino Sans GB,sans-serif;
    margin-right: 20px;
}
.cinema-list .item .title{
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    color: #000;
}
.cinema-list .item .title .price-block{
    padding-top: 9px;
    padding-left: 3px;
}
.cinema-list .item .title .price-block .price{
    font-size: 18px;
    color: #f03d37;
}
.cinema-list .item .title .price-block .q{
    margin-left: 3px;
    font-size: 11px;
    color: #f03d37;
}

.cinema-list .item .locationindex{
    margin-top: 6px;
    font-size: 13px;
    color: #666;
    display: flex;
    line-height: 1.5;
}
.cinema-list .item .locationindex .location-item{
    width: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #666;
    -webkit-box-flex: 1;
    flex: 1;

}
.cinema-list .item .locationindex .distance{
    margin-left: 5px;
}
.cinema-list .item .discount{
    color: #999;
    margin-bottom: 4px;
    line-height: 1.5;
}
.cinema-list .item .discount .card{

    display: inline-flex;
}
.cinema-list .item .discount .card img{
    width: 15px;
    height: 14px;
    position: relative;
    top: 3px;
}
.cinema-list .item .discount .card .discont-text{
    margin-left: 5px;
    font-size: 11px;
    padding-top: 1px
}
.cinema-list .item .label-block{
    height: 17px;
    line-height: 17px;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    font-size: 0;
    flex-shrink: 0;
}
.cinema-list .item .label-block>div{
    position: relative;
    display: inline-block;
    padding: 0 3px;
    height: 15px;
    line-height: 15px;
    border-radius: 2px;
    font-size: 12px !important;
    color: #589daf;
    border: 1px solid #589daf;
    margin-right: 5px;
}
.cinema-list .item .label-block .snack,.cinema-list .item .label-block .vipTag{
    color: #f90;
    border: 1px solid #f90;
}








