body {
    background: #f3f3f3;
    font-size: 14px;
    color: #777;
}

/* 顶部样式 */
.navbar {
    height: 50px;
    background: #e54847;
    border-bottom: 1px solid #e54847;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-warp-left {
    height: 50px;
    line-height: 50px;
    float: left;
    position: absolute;
}

.icon-back {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    position: relative;
}

.icon-back::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
}

.nav-warp-left a.back {
    height: 50px;
    width: 55px;
    line-height: 50px;
    padding: 0 15px;
}

.nav-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
}
/* 折扣卡 */
.list{
    padding: 0 15px 30px;
    background: #f5f5f5;
}
.list .no-card{
    text-align: center;
    padding-top: 132px;
}
.list .no-card img{
    width: 93px;
    height: 93xpx;
}
.list .no-card div{
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.list .no-card .add-card-box{
    margin-top: 50px;
}
.list .no-card .btn{
    padding: 13px;
    background: #fff;
    border: 1px solid #f34d41;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
    color: #f34d41;
}
.list .no-card .btn i{
    display: inline-block;
    transform: rotate(-45deg);
}