/* 折扣卡 */
.list{
    padding: 0 15px 30px;
    background: #f5f5f5;
}
.list .no-card{
    text-align: center;
    padding-top: 132px;
}
.list .no-card img{
    width: 93px;
    height: 93xpx;
}
.list .no-card div{
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.list .no-card .add-card-box{
    margin-top: 50px;
}
.list .no-card .z-btn{
    padding: 13px;
    background: #fff;
    border: 1px solid #f34d41;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
    color: #f34d41;
}
.list .no-card .z-btn i{
    display: inline-block;
    transform: rotate(-45deg);
}