/* 顶部样式 */
.nav-warp-left{
    height: 50px;
    line-height: 50px;
    float: left;
    position: absolute;
}
.icon-back{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    position: relative;
}
.icon-back::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
}
.nav-warp-left a.back{
    height: 50px;
    width: 55px;
    line-height: 50px;
    padding: 0 15px;
}
.nav-header {
    font-size: 18px;
    font-weight: 400px;
    line-height: 50px;
}

/* 主题内容 */
.order-content{
    overflow: hidden;
}
/* .no-data{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
} */
.no-data .wrapper{
    background-image: url(http://s0.meituan.net/bs/file/?f=myfe/canary:static/deploy/dpmmweb/client/dpmmweb/component/myorder/img/order-empty-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 110px 110px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    width: 100%;
    text-align: center;
}
.no-data .wrapper .tip-text{
    display: block;
    padding-top: 120px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    color: #999;
}