/* 主题内容 */
/* 文本框 */
.z-coupon{
    padding: 15px 15px 0 20px;
    box-sizing: border-box;
}
.z-coupon .input-wrapper{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
}
.z-coupon .input-wrapper input {
    display: inline-block;
    padding: 5px 0 5px 5px;
    width: 98%;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.z-coupon a {
    margin-left: 9px;
    color: #f03d37;
    display: inline-block;
    box-sizing: border-box;
    line-height: 26px;
}
/* 优惠券 */
.container.list-null {
    height: 100%;
}