.movie-navbar-actor {
    position: relative;
    top: 0;
    z-index: 10;
    background-color: #e54847 !important;
    display: -webkit-box;
    padding: 6px;
    height: 38px;
    overflow: hidden;
    user-select: none;
}

.movie-score {
    color: #ff9900;
    font-size: .32rem;
    margin-bottom: .12rem;
}

.movie-score .noreleased-noscore {
    margin: .24rem 0 .28rem;

    /* color: #ffcc60; */
    font-size: .3rem;
}

.movie-score.noreleased-noscore .number {
    font-size: .34rem;
}

.nav-actor {
    width: 100%;
    display: -webkit-box;
}

.navbar-logo-actor {
    width: 2rem;
    background-size: 37%;
    user-select: none;
}

.navbar-title-actor {
    -webkit-box-flex: 1;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    left: -1rem;
    user-select: none;
}

.navbar-back-actor {
    cursor: pointer;
}

.navbar-back-actor:after {
    content: '';
    top: 16px;
    left: 12px;
    width: 13px;
    height: 13px;
    position: absolute;
    border: 2px solid #FFF;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.movie-header-actor {
    padding: 0;
    background: #f8f8f8;
    border-bottom: none;
    color: #555;
}

.movie-box {
    color: #fff;
    padding: .3rem;
    line-height: 1;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.movie-background-actor {
    /* background-image: url(http://p0.meituan.net/177.249/moviemachine/b7362f5….jpg); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    position: absolute;
    filter: blur(0.6rem);
    -webkit-filter: blur(0.6rem);
    background-size: cover;
    background-image: gray;
    background-repeat: no-repeat;
    background-position-y: 40%;
    line-height: 1;
    color: #fff;
}

.movie-filter-actor {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #40454d;
    opacity: .55;
    line-height: 1;
    color: #fff;
}

.movie-container-actor {
    z-index: 1;
    position: relative;
    line-height: 1;
}

.movie-container-actor:before {
    content: " ";
    display: table;
}

.movie-background-duan {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    position: absolute;
    filter: blur(0.6rem);
    -webkit-filter: blur(0.6rem);
    background-size: cover;
    background-image: gray;
    background-repeat: no-repeat;
    background-position-y: 40%;
    color: #fff;
    line-height: 1;
}

.movie-cover-actor {
    float: left;
    width: 2.14rem;
    height: 3rem;
    filter: blur(0);
    font-style: initial;
    -webkit-filter: blur(0);
    border: solid 1px #f0f2f3;
    position: relative;

    /* background: #c1c1c1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAwFBMV…mytghhgpB+Cgix7I1gjStOqq8c5jhkmLqiJ0McuoXq6j92ZWbxiZAstgAAAABJRU5ErkJggg==) no-repeat center center; */
}

.movie-content-duan {
    z-index: 2;
    padding-left: 2.45rem;
    height: 3rem;
    color: #fff;
    line-height: 1;
}

.movie-name-duan {
    color: #fff;
    font-size: .34rem;
    line-height: 1.2;
    margin-top: .06rem;
    margin-bottom: .08rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-ename-duan {
    font-size: .22rem;
    opacity: .8;
    height: .22rem;
    margin-bottom: .12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
    color: #fff;
}

.movie-score-duan {
    color: #ff9900;
    font-size: .32rem;
    margin-bottom: .12rem;
    line-height: 1;
}

.released-score-duan {
    font-size: .32rem;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding-top: .02rem;
    color: #ffc600;
}

.rating-duan {
    font-size: .36rem;
    display: inline-block;
    line-height: 1;
    color: #ffc600;
}

.noneBg-duan-one {
    margin-left: 0px;
    background: none;
    width: .36rem;
    height: .36rem;
    border: 0;
    display: inline-block;
    font-size: .36rem;
    line-height: 1px;
    color: #ffc600;
    vertical-align: text-top;
}

.noneBg-duan {
    margin-left: .06rem;
    background: none;
    width: .36rem;
    height: .36rem;
    border: 0;
    display: inline-block;
    font-size: .36rem;
    line-height: 1px;
    color: #ffc600;
    vertical-align: text-top;
}

.rating-span {
    margin-left: .16rem;
    font-size: .36rem;
    vertical-align: top;
    color: #ffc600;
    font-family: "Arial, Helvetica, sans-serif";
}

.score-num {
    color: #fff;
    opacity: .7;
    font-size: .18rem;
    margin-top: .08rem;
    margin-bottom: .16rem;
    line-height: 1;
}

.movie-category-duan {
    font-size: .24rem;
    margin-bottom: .12rem;
}

.movie-cat-duan {
    opacity: .7;
    vertical-align: middle;
    font-size: .24rem;
}

.movie-content-row-duan {
    font-size: .24rem;
    opacity: .7;
    margin-bottom: .12rem;
}

.movie-ugc-duan {
    position: relative;
    z-index: 2;
    margin-top: .2rem;
    opacity: .7;
    color: #fff;
}

.section-seperate-two {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: .2rem 0;
    position: relative;
    margin-top: 0 !important;
    padding: .3rem .3rem 0 .3rem;
    color: #555;
    background: #fff;
}

.btn-block-btn-pay {
    margin: 0 0 .2rem;
    display: block;
    padding: .2rem;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    line-height: 1;
    background: #e54847;
    color: #fff;
    text-decoration: none;
}

.intro-duan {
    cursor: pointer;
    font-size: .3rem;
    background-color: white;
}

.text-expander-content-duan {
    margin: 0;
    line-height: .4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    font-size: .3rem;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    max-height: 1.16rem;
}

.text-expander-duan {
    color: #aaa;
    text-align: center;
    height: .44rem;
    cursor: pointer;
    font-size: .3rem;
}

.section-seperate-three {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: .2rem 0;
    background: #fff;
    color: #555;
}

.movie-celebrities {
    width: 100%;
    padding: .3rem 0 .1rem .3rem;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
}

.movie-celebrities-li {
    padding: 0 .03rem;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

.link-duan {
    color: black;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.noneBg-duan-two {
    width: 1.3rem;
    height: 1.8rem;
    margin: .04rem;
    border: 0;
    display: inline-block;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.span-one-duan {
    width: 1.33rem;
    display: block;
    font-size: .22rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}

.span-two-duan {
    width: 1.33rem;
    display: block;
    font-size: .22rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    text-align: center;
    margin: 7px 0;
}

.one-li {
    padding-left: 0;
}

.all-actor-duan {
    border-top: 1px solid #e5e5e5;
    padding: 0 .3rem;
    display: block;
    line-height: .8rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.all-actor-duan:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.icon-chevron-left {
    float: left;
}

.icon-chevron-right {
    float: right;
    font-size: 0.22rem;
}

.section-media-duan {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: .2rem 0;
    background: #fff;
    color: #555;
}

.movie-page-h3 {
    border-bottom: none;
    margin: 0;
    color: #666;
    font-size: .3rem;
    padding: .2rem .3rem;
    display: block;
}

.movie-stages-ul-duan {
    padding-left: .3rem;
    margin: 0;
    overflow-x: scroll;
    white-space: nowrap;
    color: #555;
}

.movie-stages-ul-duan .stage-img-container-duan-li:nth-child(1n+1) + .stage-img-container-duan-li {
    width: 1.8rem;
    height: 1.4rem;
    background-size: .8rem;
}

.stage-img-container-duan-li {
    width: 2.5rem;
    position: relative;
    margin: 0 .1rem 0 0;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    height: 1.4rem;
    white-space: nowrap;
    color: #555;
}

.video-a-duan {
    display: block;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
}

.movie-page-mig {
    width: 100%;
    height: 1.4rem;
    margin-top: 0;
    background-size: .8rem;
    background: none;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
}

.link-group-duan {
    width: 100%;
    display: table;
    padding-left: .3rem;
    box-sizing: border-box;
    color: #555;
}

.link-more-d {
    width: 2.5rem;
    display: table-cell;
    margin: 0 .2rem 0 .3rem;
    line-height: .8rem;
    cursor: pointer;
    text-decoration: none;
}

.size-h4 {
    position: relative;
    color: #666;
    margin: 0;
    font-weight: lighter;
    line-height: .8rem;
    cursor: pointer;
}

.data-video {
    font-weight: lighter;
    line-height: .8rem;
    cursor: pointer;
    color: #666;
}

.fanhui {
    color: #aaa;
    line-height: inherit;
    vertical-align: middle;
    margin-top: 2px;
    font-size: .22rem;
    display: inline;
    font-style: italic;
    font-weight: lighter;
    float: right;
}

.link-num-duan {
    float: right;
    margin-right: 10px;
    font-weight: lighter;
    color: #666;
    line-height: .8rem;
    cursor: pointer;
}

.link-more-d-two {
    margin: 0 .3rem 0 .2rem;
    display: block;
    line-height: .8rem;
    cursor: pointer;
    text-decoration: none;
}

.size-h4-two {
    position: relative;
    color: #666;
    margin: 0;
    font-weight: lighter;
    cursor: pointer;
}

.link-num-two {
    float: right;
    margin-right: 10px;
    color: #666;
    font-weight: lighter;
    line-height: .8rem;
}

.movie-news {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    padding-bottom: .3rem;
}

.panel-title-duan {
    border-width: 0px;
    line-height: 1;
    padding: .3rem 0 .2rem 0;
    margin: 0 0 0 .26rem;

    /* border-bottom: 1px solid #e6e6e6; */
    color: #555;
}

.movie-news-duan-zx {
    padding: 0;
    margin: 0;
    font-size: .3rem;
    color: #333;
    font-weight: normal;
    line-height: 1.2;
}

.panel-content-a {
    color: #333;
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.panel-content {
    padding: 0 .3rem;
    overflow: hidden;
    color: #555;
}

.noneBg-jz {
    float: left;
    width: 2rem;
    height: 1.5rem;
    background: none;
    border: 0;
    display: inline-block;
    color: #333;
    cursor: pointer;
}

.fanhui-right {
    color: #aaa;
    float: right;
    line-height: 1.5rem;
    display: inline;
    vertical-align: middle;
    font-size: 1em;
    font-style: italic;
}

.news-wrapper {
    font-size: .32rem;
    display: table;
    padding-left: .2rem;
    height: 1.5rem;
    color: #333;
    cursor: pointer;
}

.news-content {
    display: table-cell;
    vertical-align: middle;
    padding-right: .2rem;
    font-size: .32rem;
    color: #333;
    cursor: pointer;
}

i {
    font-style: normal !important;
}

.panel {
    border-width: 1px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    margin: .2rem 0 .2rem 0;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
}

.movie-box-two {
    width: 94%;
    display: flex;
    float: left;
    display: flex;
    float: left;
    cursor: pointer;
}

.cell {
    -webkit-box-flex: 1;
    flex: 1;
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.cell-num {
    height: .7rem;
    color: #e54847;
    font-size: .5rem;
    font-weight: lighter;
    font-family: 'Helvetica';
    margin: .1rem 0 .08rem 0;
    text-align: center;
}

.cell-desc {
    color: #999;
    font-size: .22rem;
    margin: .08rem 0 .1rem 0;
    text-align: center;
    cursor: pointer;
}

.section-seperate-main {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: .2rem 0;
    padding: 0;
    background: #fff;
    color: #555;
}

.clearfix {
    height: .56rem;
    line-height: .56rem;
    margin: 0;
    color: #666;
    font-size: .3rem;
    padding: .2rem .3rem;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.title-text-left {
    margin-top: .23rem;
    margin-bottom: .08rem;
    font-size: .28rem;
    font-weight: bold;
    color: #666666;
    margin-left: .3rem;
    text-align: left;
    display: block;
}

.list-view {
    margin-left: .3rem;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #555;
}

.list-view-item {
    padding-left: 0;
    list-style: none;
    font-size: .28rem;
    padding: .15rem .25rem;
    background-color: white;
    border-bottom: solid #e5e5e5 1px;
    display: list-item;
    color: #555;
}

.comment {
    display: flex;
    -webkit-box-pack: start;
    padding: 0 .03rem;
    font-size: .28rem;
    color: #555;
}

.comment-left {
    font-size: .28rem;
    text-align: -webkit-match-parent;
    color: #555;
    min-width: .68rem;
}

.avatar-img {
    float: left;
    width: .68rem;
    height: .68rem;
    border-radius: 50%;
    display: inline-block;

    /* background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFW…HDfdkoiC97xRpgTjE4ZnG34E7juCc/qPZSXmuUGP4vwAADixAniKIzrAAAAABJRU5ErkJggg==) no-repeat 50%; */
    background-size: 100%;
    border: 0;
    font-size: .28rem;
    color: #555;
}

.comment-right {
    flex-grow: 1;
    margin-left: .2rem;
    -webkit-box-flex: 1;
    font-size: .28rem;
    color: #555;
}

.mid-wrapper {
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    color: #555;
}

.ellipsis {
    display: inline-block;
    max-width: 3rem;
    color: #333333;
    font-size: .24rem;
    font-style: normal;
    vertical-align: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nick-level {
    /* background: url(http://p1.meituan.net/moviemachine/36af47b….png) no-repeat; */
    background-size: contain;
    margin-left: .1rem;
    display: inline-block;
    width: .73rem;
    height: .34rem;
    font-size: .28rem;
}

.comment-score {
    font-size: .22rem;
    line-height: .32rem;
    color: #999999;
}

.tack-two {
    background: #fff;
    margin-top: .1rem;
    margin-bottom: .1rem;
    border-bottom: none !important;
    user-select: text;
    font-size: .28rem;
    color: #555;
}

.content {
    margin: 0;
    color: #333;
    font-size: .28rem;
    line-height: 1.5;
    text-align: justify;
    word-wrap: break-word;
    padding: 0 !important;
    cursor: pointer;
}

.comment footer {
    margin-top: .2rem;
    margin-bottom: .05rem;
    line-height: .5rem;
    vertical-align: middle;
    font-size: .28rem;
}

.timeago {
    color: #999;
    position: relative;
    font-size: .24rem;
    margin-right: .1rem;
    line-height: .5rem;
}

.pull-right {
    float: right;
    line-height: .5rem;
    font-size: .28rem;
    color: #555;
}

.comment-like {
    color: #999;
    margin: 0 0 0 .2rem;
    font-size: .24rem;
    padding: .1rem .24rem;
    border: .01rem solid #CCCCCC;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: .5rem;
}

.comments-link-a {
    display: block;
    line-height: .8rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.comments-link-a h4 {
    font-weight: lighter;
    text-align: center;
    color: #f63 !important;
    line-height: .8rem;
}

.section-related-section-seperate {
    margin: .2rem 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: none !important;
    background: #fff;
    color: #555;
}

.section-related-section-seperate h3 {
    margin: 0;
    color: #666;
    font-size: .3rem;
    padding: .2rem .3rem;
    border-bottom: 1px solid #e5e5e5;
}

.movie-celebrities-two {
    width: 100%;
    padding: .3rem 0 .1rem .3rem;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
}

.movie-celebrities-two li {
    padding: 0 .03rem;
    text-align: center;
    display: inline-block;
}

.movie-celebrities {
    padding: 0 .03rem;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

.movie-celebrities-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.movie-celebrities-link img {
    width: 1.3rem;
    height: 1.8rem;
    margin: .04rem;
    border: 0;
    display: inline-block;

    /* background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABYCAYAAAEGkgCiAAAAGXRFW…yfOv/JmZQYchQTcch2XTuAx4IoGlRqlTgFOA3CBANUFk73AXANIMtuS9E+AAAAAElFTkSuQmCC) no-repeat 50%; */
    background-size: 50%;
    color: black;
}

.movie-celebrities-link span {
    width: 1.4rem;
    display: block;
    font-size: .22rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    cursor: pointer;
    text-align: center;
}

.load-wrapper-duan {
    margin: .2rem;
    padding: .2rem;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    line-height: 1;
    background: #e54847;
    color: #fff;
    text-decoration: none;
}

.footer-duan {
    text-align: center;
    line-height: 2.5em;
}
.footer-duan p:nth-child(1n)+p{
    color: #9e9e9e;
}